@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DasboardLayout.cshtml";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.SiparisSayisi</h3>

                <p>TOPLAM SİPARİŞ</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.UrunSayisi<sup style="font-size: 20px"></sup></h3>

                <p>TOPLAM ÜRÜN</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.KullaniciSayisi</h3>

                <p>TOPLAM KULLANICI</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.Gelir</h3>

                <p>TOPLAM GELİR </p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Latest Orders</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Ship Status</th>
                            <th>Shipping Detail</th>
                          

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.OrderNumber</td>
                                <td>@order.CreatedDate</td>
                                <td>
                                   @order.TotalPrice
                                </td>
                                <td>
                                    @switch (order.ShipperStatus)
                                    {
                                        case Core.Entities.Enum.ShipStatus.NotShipped:
                                            <span class="bg-danger">Not Shipped</span>
                                            break;
                                        case Core.Entities.Enum.ShipStatus.Shipped:
                                            <span class="bg-success">Shipped</span>
                                            break;
                                        case Core.Entities.Enum.ShipStatus.Delivered:
                                            <span class="bg-primary">Delivered</span>
                                            break;
                                        default:
                                            break;
                                    }
                                </td>
                                <td>


                                </td>
                                <td>
                                    @if (order.ShipperStatus != Core.Entities.Enum.ShipStatus.NotShipped)
                                    {
                                        <a asp-action="Detail" asp-controller="Shipper" asp-area="Admin" asp-route-id="@order.Id" class="btn btn-xs btn-warning">Shipping Detail</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-controller="Shipper" asp-area="Admin" asp-route-orderId="@order.Id" class="btn btn-xs btn-warning">Create Shipping</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>